@charset "UTF-8";
html {
  font-size: 65%;
}

body {
  font-size: 1.6em;
  font-weight: bold;
  font-family: "M PLUS 1", sans-serif;
}

.pc-br {
  display: none;
}

@-webkit-keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes infinity-scroll-left {
  from {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
@keyframes rotate {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
  }
}
.bg-r {
  background: #D92B44;
  padding-top: 20px;
}
.bg-w {
  background-color: #FBF9F3;
  margin: 0 20px;
}

.header-loop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  display: block;
  overflow-x: hidden;
  overflow: hidden;
  background-color: #D92B44;
}
.header-loop-wrapper {
  height: 20px;
}
.header-loop-wrapper ul {
  display: none;
}
.header-logo {
  position: fixed;
  top: 33px;
  left: 33px;
  z-index: 9999;
}
.header-logo a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.header-logo a img {
  width: 6rem;
  margin-bottom: 5px;
}
.header-logo a span {
  padding-left: 0;
  font-size: 0.7rem;
}
.header-nav {
  opacity: 0;
  position: fixed;
  pointer-events: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 10rem 2rem 0;
  margin-bottom: 50px;
  font-size: 0.8rem;
  border-left: #D92B44 20px solid;
  border-right: #D92B44 20px solid;
  z-index: 9998;
  background-color: #FBF9F3;
}
.header-nav.open {
  opacity: 1;
  pointer-events: all;
}
.header-nav-deco {
  display: none;
}
.header-nav-list-item {
  border: #000 2px solid;
  background-color: #fff;
}
.header-nav-list-item:not(:first-child) {
  border-top: none;
}
.header-nav-list-item a {
  display: block;
  padding: 1rem 2rem;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.header-nav-list-item a:hover {
  background-color: #2f2f2f;
  color: #fff;
}
.header-nav-list-item a::after {
  content: "▶︎";
  width: 0.5rem;
  height: 0.5rem;
  position: absolute;
  right: 4rem;
}
.header-nav p {
  text-align: center;
  margin-top: 3rem;
}

.burgerbtn {
  display: inline;
  width: 64px;
  height: 64px;
  cursor: pointer;
  z-index: 10000;
  position: fixed;
  top: 0;
  right: 0;
  border-radius: 8px;
  background-color: #D92B44;
}
.burgerbtn-line {
  display: block;
  position: relative;
  height: 2px;
  background-color: #fff;
  width: 50%;
  border-radius: 5px;
  left: 15px;
  line-height: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.burgerbtn-line:nth-child(1) {
  top: 45px;
}
.burgerbtn-line:nth-child(2) {
  top: 30px;
}
.burgerbtn-line:nth-child(3) {
  top: 15px;
}
.burgerbtn-line.open:nth-child(1) {
  -webkit-transform: translateY(-13px) rotate(45deg);
          transform: translateY(-13px) rotate(45deg);
}
.burgerbtn-line.open:nth-child(2) {
  opacity: 0;
}
.burgerbtn-line.open:nth-child(3) {
  -webkit-transform: translateY(13px) rotate(-45deg);
          transform: translateY(13px) rotate(-45deg);
}

.entry-btn {
  margin: 0;
}
.entry-btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  z-index: 10000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #fff;
  font-size: 2.5rem;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.entry-btn-link::after, .entry-btn-link::before {
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.entry-btn-link:hover:after {
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
}
.entry-btn-link::after {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

.fv {
  max-width: 724px;
  padding-top: 60px;
  margin: 0 auto 60px;
  height: 35rem;
  position: relative;
}
.fv-sub {
  font-family: Montserrat, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6.8rem auto 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: #d3d3d3;
  text-align: center;
  cursor: default;
}
.fv-sub span:nth-child(2) {
  font-size: 2rem;
  font-weight: 300;
  font-style: italic;
}
.fv span path {
  fill: #D92B44;
  stroke: #D92B44;
  stroke-width: 0.2px;
}
.fv-img {
  height: 25rem;
}
.fv-news {
  width: 90%;
  height: 3rem;
  position: absolute;
  top: 85%;
  left: 5%;
  border-radius: 9999px;
  margin: 0 auto;
  background-color: #FFEDEF;
  font-size: 0.8rem;
  z-index: 998;
}
.fv-news-ttl {
  position: absolute;
  left: 8%;
  top: 82.5%;
  font-size: 0.7rem;
  font-weight: 500;
  z-index: 999;
}
.fv-news-ttl a {
  width: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.3rem;
  border-radius: 9999px;
  color: #fff;
  background-color: #D92B44;
}
.fv-news-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fv-news-list-item p {
  color: #D92B44;
  padding-left: 1rem;
}
.fv-news-list-item a {
  margin-left: 1rem;
}

.c svg {
  position: absolute;
  width: 5rem;
  left: 23%;
  top: 13%;
}

.o svg {
  position: absolute;
  width: 5rem;
  left: 45%;
  top: 18%;
}

.m svg {
  position: absolute;
  width: 5rem;
  right: 20%;
  top: 15%;
}

.p svg {
  position: absolute;
  width: 5rem;
  left: 18%;
  top: 49%;
}

.a svg {
  position: absolute;
  width: 5rem;
  left: 35%;
  top: 64%;
}

.n svg {
  position: absolute;
  width: 4rem;
  right: 35%;
  top: 58%;
}

.y svg {
  position: absolute;
  width: 5rem;
  right: 15%;
  top: 51%;
}

.people {
  position: absolute;
}

.person1 {
  width: 4rem;
  left: 16%;
  top: 21%;
}
.person2 {
  display: none;
}
.person3 {
  width: 6rem;
  left: 45%;
  top: 21%;
  z-index: 9;
}
.person4 {
  width: 3.3rem;
  left: 38%;
  top: 51%;
}
.person5 {
  width: 9rem;
  right: 11%;
  top: 12%;
}
.person6 {
  width: 5.5rem;
  right: 31%;
  top: 45%;
}

.plant {
  width: 3rem;
  position: absolute;
  left: 28%;
  top: 17%;
}

.about {
  max-width: 728px;
  width: 100%;
  height: 60rem;
  position: relative;
  margin: 0 auto;
  background-image: url(../images/message-bg.png);
  background-size: cover;
}
.about-ttl {
  max-width: 728px;
  width: 80%;
  display: block;
  margin: 0 auto;
}
.about-ttl p {
  display: inline-block;
  background-color: #fff;
  border-bottom: #000 3px solid;
  letter-spacing: 0.2rem;
  line-height: 1;
  margin-bottom: 10px;
}
.about-ttl p span {
  font-size: 2.2rem;
}
.about-ttl-big {
  font-size: 2.8rem;
}
.about-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin-left: 80%;
  margin-top: -12rem;
}
.about-sub p {
  border-left: #D92B44 1px solid;
  font-size: 0.8rem;
  font-weight: 500;
  line-height: 1.3;
}
.about-sub p:first-child {
  margin-left: 5px;
}
.about-img {
  position: absolute;
  bottom: 0;
  display: block;
  max-height: 35rem;
}
.about-circle {
  display: none;
}
.about-pen {
  display: none;
}
.about-txt {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 100px auto 0;
}
.about-txt-pc {
  display: none;
}
.about-txt-main {
  font-size: 0.9rem;
  font-weight: normal;
  letter-spacing: 0.15rem;
  margin: 0 auto;
}
.about-txt-main p {
  padding-bottom: 1rem;
  display: block;
}
.about-txt-main span {
  color: #D92B44;
}

.person {
  background-color: #D92B44;
  padding-top: 50px;
  width: 90%;
  margin: 0 auto;
  color: #fff;
}
.person-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: #fff 1px solid;
}
.person-ttl-small {
  display: block;
  font-size: 1rem;
  padding-left: 10px;
  letter-spacing: 0.3rem;
  font-weight: 500;
  line-height: 2;
}
.person-ttl-big {
  font-size: 3rem;
  letter-spacing: 0.5rem;
}
.person-txt {
  margin-top: 1.2rem;
  padding-left: 10px;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
}

.staff {
  padding-bottom: 50px;
  max-width: 724px;
  width: 100%;
  margin: 3rem auto 0;
}
.staff-swiper {
  width: 35rem;
}
.staff-list {
  color: #fff;
}
.staff-list-item {
  position: relative;
  display: block;
}
.staff-list-item h2 {
  display: block;
  position: absolute;
  left: 5%;
  top: 5%;
  font-size: 4rem;
  font-weight: 300;
  font-style: italic;
  line-height: 1;
}
.staff-list-item a {
  position: absolute;
  left: 5%;
  top: 45%;
  width: 400px;
  cursor: pointer;
}
.staff-list-item a:hover span {
  background-color: #F7C3C8;
}
.staff-list-item a h3 {
  display: inline;
  font-size: 1.6rem;
  padding: 1px 5px;
  line-height: 2.2;
  letter-spacing: 0.05em;
  color: #000;
  background-color: #fff;
  border-bottom: #000 2px solid;
}
.staff-list-item a span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: absolute;
  right: 20%;
  top: 150%;
  background-color: #fff;
  color: #000;
  width: 3.8rem;
  height: 3.8rem;
  font-size: 2rem;
  border-radius: 50%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.staff-list-item p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.8rem;
  font-weight: 400;
  position: absolute;
  bottom: 14.5%;
  left: 5%;
}
.staff-list-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
  margin-left: auto;
  margin-right: 20px;
}
.staff-list-btn {
  display: block;
  width: 90%;
  margin: 10px auto 0;
}
.staff-list-btn-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  color: #D92B44;
  background-color: #fff;
  border-radius: 5px;
  padding: 0.8rem;
  z-index: 2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow: hidden;
}
.staff-list-btn-link::after, .staff-list-btn-link::before {
  position: absolute;
  z-index: -1;
  display: block;
  content: "";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.staff-list-btn-link:hover:after {
  top: 0;
  left: 0;
  background-color: #ffedef;
}
.staff-list-btn-link::after {
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}
.staff-list-btn span {
  display: block;
  width: 0.3rem;
  height: 0.3rem;
  background-color: #D92B44;
  border-radius: 50%;
  border: 0;
}

.future {
  height: 80vh;
  width: 100%;
  background-image: url(../images/group-people.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  z-index: -1;
  position: relative;
}
.future::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.future-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20rem;
}
.future-logo {
  width: 3.5rem;
}
.future-ttl {
  font-size: 1.2rem;
  line-height: 1.2;
  font-weight: 500;
  color: #fff;
  letter-spacing: 0.2rem;
}
.future-ttl span {
  font-size: 3rem;
}
.future-ttl-red {
  color: #D92B44;
}

.recruitment {
  height: 42rem;
  background-color: #fff;
  margin-left: 20px;
  margin-right: 20px;
  padding: 2.5rem 1.2rem 1.2rem;
}
.recruitment-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-bottom: 2.5rem;
}
.recruitment-class {
  display: grid;
  grid-template-columns: none;
  gap: 1rem;
  padding-bottom: 2rem;
}
.recruitment-class-btn {
  display: block;
  height: 15rem;
  width: 100%;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.recruitment-class-btn:hover {
  color: #fff;
}
.recruitment-class-btn:hover::before {
  border-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recruitment-class-btn:hover h3 {
  border-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recruitment-class-btn:hover p {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.recruitment-class-btn:hover img {
  opacity: 1;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.recruitment-class-btn img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.recruitment-class-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1;
}
.recruitment-class-inner h3 {
  display: inline;
  font-size: 1.8rem;
  letter-spacing: 0.2rem;
  border-bottom: #000 2px solid;
}
.recruitment-class-inner p {
  display: block;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

.ng {
  background-color: #ffedef;
}
.ng::before {
  content: "";
  position: absolute;
  border: #D92B44 1px solid;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 0.4rem;
  right: 0.4rem;
  z-index: 1;
}

.mc {
  background-color: #e3f2ff;
}
.mc::before {
  content: "";
  position: absolute;
  border: #0039a4 1px solid;
  top: 0.4rem;
  bottom: 0.4rem;
  left: 0.4rem;
  right: 0.4rem;
  z-index: 1;
}

.entry {
  position: relative;
  background-color: #fff;
  height: 45rem;
  margin: 0 20px;
  padding-bottom: 50px;
}
.entry-loop-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: -8rem;
}
.entry-loop-wrap ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-animation: infinity-scroll-left 80s infinite linear 0.5s both;
          animation: infinity-scroll-left 80s infinite linear 0.5s both;
}
.entry-loop-wrap li {
  width: 62.5vw;
}
.entry-loop-wrap li img {
  width: 100%;
}
.entry-ttl {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.entry-ttl-mid {
  font-size: 1.6rem;
}
.entry-ttl-big {
  font-size: 2.5rem;
}
.entry-ttl span:nth-of-type(2) {
  color: #D92B44;
}
.entry-recruit {
  width: 90%;
  margin: 0 auto 30px;
}
.entry-recruit-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.1rem;
}
.entry-recruit-grid li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-weight: 600;
}
.entry-recruit-grid li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  height: 8.5rem;
  margin: 1px;
  padding: 1px;
}
.entry-recruit-grid li a:first-of-type {
  margin-right: 0;
}
.entry-recruit-grid h3 {
  grid-column: 1/3;
  grid-row: 1/2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  height: 4.3rem;
  color: #fff;
}
.entry-img {
  position: absolute;
  bottom: -6.4%;
  left: 2.5%;
  width: 95%;
}

.new-entry {
  background-color: #D92B44;
}
.new-entry a {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.new-entry a:hover {
  background-color: #F7C3C8;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.new-entry img {
  width: 40%;
}

.mid-entry {
  background-color: #0139A4;
}
.mid-entry a {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1;
}
.mid-entry a:hover {
  background-color: #B6C4E5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.mid-entry a img {
  width: 2rem;
  padding-right: 0.5rem;
}
.mid-entry a span {
  font-size: 0.8rem;
}

.second {
  padding-bottom: 30px;
}

.footer {
  padding-top: 50px;
  margin-bottom: 50px;
  border: #000 3px solid;
}
.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  padding: 0 20px;
  -moz-text-align-last: left;
       text-align-last: left;
}
.footer-info img {
  width: 7rem;
  margin-bottom: 0.5rem;
}
.footer-info small {
  display: block;
  font-size: 1rem;
  font-weight: 500;
}
.footer-nav {
  text-align: center;
  font-size: 0.8rem;
  margin-top: 3rem;
}
.footer-nav a {
  border-bottom: #000 0.5px solid;
}
.footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem;
}
.footer-nav ul li {
  padding-left: 1rem;
}
.footer-nav ul li:first-child {
  padding: 0;
}
.footer-topbtn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .pc-br {
    display: block;
  }
  .bg-w {
    margin: 0 30px;
  }
  .header-loop {
    font-family: Montserrat, sans-serif;
    position: fixed;
    white-space: nowrap;
  }
  .header-loop-wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    height: 3rem;
  }
  .header-loop-wrapper ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    -webkit-animation: infinity-scroll-left 40s infinite linear 1s both;
            animation: infinity-scroll-left 40s infinite linear 1s both;
  }
  .header-loop-wrapper li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 1rem;
    letter-spacing: 0.5rem;
    color: #fff;
    padding: 0.5rem;
    font-weight: 200;
  }
  .header-loop-wrapper li span {
    padding-right: 0.5rem;
    font-weight: 600;
  }
  .header-logo a {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-logo a img {
    width: 13rem;
    margin-top: 0.8rem;
  }
  .header-logo a span {
    font-size: 1rem;
  }
  .header-nav {
    height: 20rem;
    width: 10rem;
    pointer-events: all;
    opacity: 1;
    padding: 1.2rem 0;
    margin: 0;
    top: 30rem;
    font-size: 1rem;
    border: #000 2px solid;
    background-color: #fff;
  }
  .header-nav-deco {
    position: absolute;
    left: -20%;
    top: -18%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-image: url(../images/navi-deco.svg.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 6rem;
    height: 5rem;
    font-weight: 600;
  }
  .header-nav-list {
    position: relative;
  }
  .header-nav-list-item {
    border: none;
    width: 100%;
    text-align: center;
    text-decoration: underline;
  }
  .header-nav-list-item:first-child {
    color: #D92B44;
  }
  .header-nav-list-item a {
    padding: 0.7rem 0;
    margin: 0;
  }
  .header-nav-list-item a::after {
    content: none;
  }
  .header-nav-list-item a:hover {
    color: #D92B44;
    background: none;
  }
  .header-nav p {
    display: block;
    position: fixed;
    left: 0;
    top: 50%;
    -webkit-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    padding-left: 3.75px;
    margin: 0;
  }
  .burgerbtn {
    display: none;
  }
  .entry-btn-link {
    width: 10rem;
    top: 45rem;
    font-size: 1rem;
    overflow: hidden;
  }
  .fv {
    height: 728px;
    max-width: none;
  }
  .fv-sub {
    font-size: 1.5rem;
    color: #000;
    margin-left: 60%;
    margin-top: 0;
  }
  .fv-sub span:nth-child(2) {
    font-size: 3rem;
  }
  .fv-news {
    width: 43%;
    height: 4rem;
  }
  .fv-news-ttl {
    left: 5%;
    top: 85%;
    font-size: 1.2rem;
  }
  .fv-news-ttl a {
    width: 8rem;
    height: 4rem;
  }
  .fv-news-list {
    padding-left: 8rem;
  }
  .fv-news-list-item p {
    font-size: 1rem;
  }
  .fv-news-list-item a {
    font-size: 1.3rem;
  }
  .c svg {
    width: 17rem;
    left: 8%;
    top: 13%;
  }
  .o svg {
    width: 17rem;
    left: 23%;
    top: 22%;
    z-index: 10;
  }
  .m svg {
    width: 17rem;
    left: 38%;
  }
  .p svg {
    width: 17rem;
    left: 43%;
    top: 42%;
  }
  .a svg {
    width: 17rem;
    left: 53.5%;
    top: 56%;
  }
  .n svg {
    width: 12.8rem;
    right: 22%;
    top: 45%;
    z-index: 1;
  }
  .y svg {
    width: 15rem;
    right: 6%;
    top: 35%;
  }
  .person1 {
    width: 18rem;
    left: 3%;
    top: 25%;
    z-index: 1;
  }
  .person2 {
    display: block;
    width: 10rem;
    left: 18%;
    top: 44%;
  }
  .person3 {
    width: 25.5rem;
    left: 26.5%;
    top: 22%;
  }
  .person4 {
    width: 14rem;
    left: 45%;
    top: 15%;
    z-index: 11;
  }
  .person5 {
    width: 31rem;
    right: 8%;
    top: 8%;
  }
  .person6 {
    width: 20rem;
    right: 28%;
    top: 27%;
    z-index: 12;
  }
  .plant {
    width: 8rem;
    left: 14%;
    top: 20%;
  }
  .about {
    max-width: none;
    height: 75rem;
    background-size: 80rem;
    background-position: left bottom, center;
    background-repeat: no-repeat;
    margin: 0;
  }
  .about-ttl {
    max-width: none;
    font-size: 3rem;
  }
  .about-ttl p span {
    font-size: 5rem;
  }
  .about-ttl-big {
    display: block;
    font-size: 6.5rem;
    z-index: 1;
  }
  .about-sub {
    margin-left: 45%;
    margin-top: -20rem;
  }
  .about-sub p {
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
  }
  .about-img {
    max-height: none;
    height: 55rem;
    z-index: 1;
  }
  .about-circle {
    display: block;
    position: absolute;
    top: -15%;
    left: 40%;
    overflow: hidden;
  }
  .about-circle svg {
    width: 80rem;
    -webkit-animation: rotate 30s linear infinite;
            animation: rotate 30s linear infinite;
  }
  .about-pen {
    display: block;
    position: absolute;
    height: 30rem;
    left: 75%;
    top: -20%;
    z-index: 1;
  }
  .about-txt-pc {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-family: "Grey Qo", cursive;
    font-size: 7rem;
    color: #D92B44;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    left: 60%;
    top: 13%;
  }
  .about-txt-pc::after {
    content: "";
    width: 8rem;
    height: 2px;
    background-color: #D92B44;
    margin-left: 1rem;
    margin-top: 12px;
  }
  .about-txt-main {
    font-size: 1.2rem;
    line-height: 2;
    margin-left: 55%;
    -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
            writing-mode: vertical-rl;
  }
  .about-txt-main p {
    padding-left: 1.5rem;
  }
  .person {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    margin: 0;
    padding: 5rem 0 5rem;
    border-bottom: #fff 1px solid;
  }
  .person-ttl {
    border: none;
    padding: 0;
  }
  .person-ttl-small {
    font-size: 2.5rem;
    line-height: 2;
    padding-right: 1rem;
    letter-spacing: 0.5rem;
  }
  .person-ttl-big {
    font-size: 10rem;
    letter-spacing: 1rem;
  }
  .person-txt {
    padding-left: 1rem;
    margin: 0;
    font-size: 1.2rem;
  }
  .staff {
    max-width: none;
  }
  .staff-swiper {
    width: 97rem;
  }
}/*# sourceMappingURL=style.css.map */