
$red: #D92B44;
html{
    font-size: clamp(9px, .83vw, 1rem);
    overflow-y: scroll;
    overflow-x: hidden;
}
body{
    position: relative;
    font-weight: bold;
    font-family: "M PLUS 1", sans-serif;
    z-index: -10;
}
@media screen and (max-width: 768px){
    html{
        font-size: min(3.5vw, .875rem);
    }
}
.font{
    &-jp{
        font-family: "見出ゴMB31","Midashi Go MB31";
    }
    &-en{
        font-family: "Montserrat", sans-serif;
        letter-spacing: .05em;
    }
}
.pc-br{
    display: none;
}
@keyframes scroll-left1 {
    from {
      transform: translateX(100%);
    }
      to {
      transform: translateX(-100%);
    }
}
@keyframes scroll-left2 {
    from {
      transform: translateX(0);
    }
      to {
      transform: translateX(-200%);
    }
}
@keyframes rotate {
    0% {
      transform: rotateZ(0deg);
    }
  
    100% {
      transform: rotateZ(360deg);
    }
  }
  .burgerbtn{
    display: inline;
    width: 64px;
    height: 64px;
    cursor: pointer;
    z-index: 100001;
    position: fixed;
    top: 0;
    right: 0;
    border-radius: 8px;
    background-color: $red;
    &-line{
        display: block;
        position: relative;
        height: 2px;
        background-color: #fff;
        width: 50%;
        border-radius: 5px;
        left: 15px;
        line-height: 1px;
        transition: .3s;
        &:nth-child(1){
            top: 45px;
        }
        &:nth-child(2){
            top: 30px;
        }
        &:nth-child(3){
            top: 15px;
        }
        &.open{
            &:nth-child(1){
                transform: translateY(-13px) rotate(45deg);
            }
            &:nth-child(2){
                opacity: 0;
            }
            &:nth-child(3){
                transform: translateY(13px) rotate(-45deg);
            }
        }
    }
}
.entry-btn{
    margin: 0;
    font-weight: 500;
    &-link{
        display: flex;
        position: fixed;
        right: 0;
        bottom: 0;
        height: 50px;
        width: 100%;
        z-index: 100000;
        justify-content: center;
        align-items: center;
        background-color: #000;
        color: #fff;
        font-size: 2.5rem;
        transition: all 1s;
        &::after,
        &::before {
            position: absolute;
            z-index: -1;
            display: block;
            content: "";
            box-sizing: border-box;
            transition: all 1s;
        }
        &:hover:after{
            top: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(255, 255, 255, .3);
        }
        &::after{
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
        }
        &.open{
            opacity: 0;
        }
    }
}
.top{
    &-loop{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%; 
        display: block;
        overflow-x: hidden;
        overflow: hidden;
        background-color: $red;
        transition: 1s;
        &-wrapper{
            height: 20px;
            ul{
                display: none;
            }
        }
        &.open{
            opacity: 0;
        }
    }
    &-logo{
        position: fixed;
        top: 33px;
        left: 33px;
        z-index: 100000;
        a{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            img{
                width: 6rem;
                margin-bottom: 5px;
            }
            span{
                padding-left: 0;
                font-size: 0.7rem;
            }
        }
    }
}
.bg-{
    &r{
        position: relative;
        background: $red;
        overflow: hidden;
        padding-top: 20px;
        z-index: -5;
    }
    &w{
        position: relative;
        background-color: #FBF9F3;
        margin: 0 20px;
        z-index: -3;
    }
}
.header{
    position: relative;
    &-nav{
        opacity: 0;
        position: fixed;
        pointer-events: none;
        transition: 1s;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        padding: 6rem 5%;
        font-size: .8rem;
        letter-spacing: .05em;
        border-left: $red 20px solid;
        border-right: $red 20px solid;
        z-index: 1001;
        background-color: #FBF9F3;
        &.open{
            opacity: 1;
            pointer-events: all;
        }
        &-deco{
            display: none;
        }
        &-list{
            &-item{
                border: #000 2px solid;
                background-color: #fff;
                &:not(:first-child){
                    border-top: none;
                }
                a{
                    display: block;
                    padding: 1rem 2rem;
                    
                    transition: .5s;
                    &:hover{
                        background-color: #2f2f2f;
                        color: #fff;
                    }
                    &::after{
                        content: "▶︎";
                        width: .5rem;
                        height: .5rem;
                        position: absolute;
                        right: 4rem;
                    }
                }
            }
        }
        &-entry{
            display: block;
            margin-bottom: 2.285rem;
            font-weight: 500;
            &-item{
                a{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 4.285rem;
                    color: #fff;
                    background-color: #000;
                    font-size: 1.25rem;
                    overflow: hidden;
                    &::after,
                    &::before {
                        position: absolute;
                        display: block;
                        content: "";
                        box-sizing: border-box;
                        transition: all 1s;
                    }
                    &:hover:after{
                        top: 0;
                        bottom: 0;
                        left: 0;
                        background-color: rgba(255, 255, 255, .3);
                    }
                    &::after{
                        top: 0;
                        left: -100%;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
        p{
            text-align: center;
            margin-top: 3rem;
        }
    }
}
.fv{
    width: 25rem;
    height: 30rem;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    &-wrapper{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    &-sub{
        position: absolute;
        display: block;
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.2rem;
        opacity: .2;
        text-align: center;
        white-space: nowrap;
        cursor: default;
        span:nth-child(2){
            width: 24rem;
            height: 6rem;
            display: block;
            margin: -1rem;
            path{
                fill: #000;
                stroke: #000;
                }
        }
    }
    span{
        path{
            fill: $red;
            stroke: $red;
            stroke-width: .2px;
        }
    }
    &-news{
        position: relative;
        border-radius: 9999px;
        background-color: #FFEDEF;
        font-size: .785rem;
        max-width: 90%;
        margin: 0 auto;
        &-ttl{
            position: absolute;
            top: -1rem;
            left: 1rem;
            font-size: .85rem;
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                padding: .25em 1em;
                border-radius: 9999px;
                color: #fff;
                background-color: $red;
                font-weight: 600;
            }
        }
        &-info{
            position: relative;
            display: block;
            box-sizing: border-box;
            width: 22.5rem;
            height: 3rem;
            padding: 0 1rem;
            touch-action: pan-y;
        }
        &-list{
            &-item{
                display: flex;
                align-items: center;
                p{
                    color: $red;
                }
                a{
                    margin-left: 1rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
            }
        }
    }
}

.c svg{
    position: absolute;
    width: 6.5rem;
    left: 4rem;
    top: 4.5rem;
}
.o svg{
    position: absolute;
    width: 6.5rem;
    left: 10rem;
    top: 6.5rem;
}
.m svg{
    position: absolute;
    width: 6.4rem;
    left: 16rem;
    top: 4.5rem;
}
.p svg{
    position: absolute;
    width: 7rem;
    left: 2.4rem;
    top: 19rem;
}
.a svg{
    position: absolute;
    width: 7rem;
    left: 7rem;
    top: 23rem;
}
.n svg{
    position: absolute;
    width: 5.2rem;
    left: 12.5rem;
    top: 21rem;
}
.y svg{
    position: absolute;
    width: 7rem;
    left: 17.5rem;
    top: 19rem;
}
.people{
    position: absolute;
}
.person{
    &1{
        width: 4.2rem;
        left: 2rem;
        top: 8.2rem;
    }
    &2{
        display: none;
    }
    &3{
        width: 5.5rem;
        left: 10.8rem;
        top: 8rem;
        z-index: 9;
    }
    &4{
        width: 3.5rem;
        left: 8.5rem;
        top: 18.5rem;
    }
    &5{
        width: 8.2rem;
        left: 16rem;
        top: 6.8rem;
    }
    &6{
        width: 5.5rem;
        left: 14rem;
        top: 16rem;
    }
}
.plant{
    width: 2.7rem;
    position: absolute;
    left: 6.3rem;
    top: 6.3rem;
}
.about{
    padding-top: 3rem;
    padding-bottom: 16rem;
    position: relative;
    background-image: url(../images/message-bg.png);
    background-position: bottom,center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    &-ttl{
        display: flex;
        width: 90%;
        margin: 0 auto 2.9rem;
        &-wrapper{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            p{
                padding-bottom: .2rem;
                margin-bottom: -.5rem;
                background-color: #ffffff76;
                border-bottom: #000 5px solid;
                font-size: 2rem;
                letter-spacing: .2em;
                line-height: 1;
                span{
                    font-size: 2.6rem;
                }
            }
        }
        &-mid{
            font-size: 2rem !important;
        }
        &-big{
            font-size: 3.5rem !important;
            white-space: nowrap;
            letter-spacing: .01em !important;
        }
        
    }
    &-sub{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        writing-mode: vertical-lr;
        margin-left: -2.7rem;
        margin-top: -.8rem;
        p{
            border-left: $red 1px solid;
            font-size: .9rem;
            font-weight: 500;
            line-height: 1.3;
            letter-spacing: .1em;
            &:first-child{
                margin-left: 5px;
            }
        }
    }
    &-img{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -6.5rem;
        mask-image: linear-gradient(to top, transparent 4rem, #000 4rem, #000);
    }
    &-circle{
        display: none;
    }
    &-pen{
        display: none;
    }
    &-txt{
        width: 90%;
        display: flex;
        margin: 0 auto;
        &-pc{
            display: none;
        }
        &-main{
            font-size: 1.1rem;
            font-weight: normal;
            letter-spacing: .2em;
            margin: 0 auto;
            p{
                padding-bottom: 1rem;
                display: block;
                line-height: 1.4;
            }
            span{
                color: $red;
            }
        }
    }
}
.person{
    background-color: $red;
    color: #fff;
    position: relative;
    &-border{
        position: absolute;
        top: 9.3rem;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
    &-wrapper{
        max-width: 90rem;
        width: 90%;
        margin: 0 auto;
        padding-top: 2.85rem;
    }
    &-ttl{ 
        display: flex;
        align-items: center;
        white-space: nowrap;
        line-height: 1.6;
        text-align: justify;
        padding-bottom: 1.8rem;
        &-small{
            display: block;
            font-size: 1.4rem;
            letter-spacing: .05em;
        }
        &-big{
            display: block;
            font-size: 3.7rem;
            letter-spacing: .2em;
        }
    }
    &-txt{
        font-size: .83rem;
        letter-spacing: .2em;
        font-weight: 400;
        text-align: justify;
        padding-bottom: 2.85rem;
    }
}
.staff{
    position: relative;
    padding-bottom: 50px;
    &-swiper{
        position: relative;
        display: block;
        box-sizing: border-box;
        width: 25rem;
        margin: 0 auto;
        touch-action: pan-y;
    }
    &-list{
        color: #fff;
        &-item{
            position: relative;
            display: block;
        }
        &-no{
            position: absolute;
            top: 2.5rem;
            left: 0;
            font-size: 2.5rem;
            font-weight: 300;
            font-style: italic;
            line-height: 1;
        }
        &-img{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 18.75rem;
            margin-left: auto;
            position: relative;
            aspect-ratio: 300 / 470;
        }
        &-txtarea{
            position: absolute;
            top: 14rem;
            left: 0;
            width: 100%;
            a{
                cursor: pointer;
                h3{
                    display: inline;
                    font-size: 1.5rem;
                    line-height: 2.2;
                    letter-spacing: -.08em;
                    padding: .1em .3em;
                    color: #000;
                    background-color: #fff;
                    border-bottom: #000 2px solid;
                }
            }
        }
        &-upsub{
            font-size: max(12px, .875rem);
            margin-top: .5em;
            font-weight: 400;
            a svg{
                position: absolute;
                top: 6.25rem;
                right: 1.25rem;
            }
        }
        &-lowsub{
            font-size: max(12px, .875rem);
            font-weight: 400;
        }
        &-btn{
            display: block;
            width: 90%;
            margin: 10px auto 0;
            &-link{
                display: flex;
                position: relative;
                justify-content: center;
                align-items: center;
                font-size: 1rem;
                color: $red;
                background-color: #fff;
                border-radius: 5px;
                padding: .8rem;
                z-index: 2;
                transition: all .5s;
                overflow: hidden;
                &::after,
                &::before {
                    position: absolute;
                    z-index: -1;
                    display: block;
                    content: "";
                    box-sizing: border-box;
                    transition: all .5s;
                }
                &:hover:after{
                    top: 0;
                    left: 0;
                   background-color: #ffedef;
                }
                &::after{
                    top: 0;
                    left: -100%;
                    width: 100%;
                    height: 100%;
                }
            }
            span{
                display: block;
                width: 0.3rem;
                height: 0.3rem;
                background-color: $red;
                border-radius: 50%;
                border: 0;
            }
        }
    }
    &-border{
        position: absolute;
        bottom: 5.25rem;
        width: 100%;
        height: 1px;
        background-color: #fff;
    }
}

.future{
    position: relative;
    background-image: url(../images/group-people.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    z-index: -1;
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.2);
    }
    &-inner{
        position: relative;
        aspect-ratio: 1 / 1;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        z-index: 1;
    }
    &-logo{
        height: 2.3rem;
    }
    &-ttl{
        font-size: 1.2rem;
        line-height: 1.5;
        font-weight: 500;
        color: #fff;
        letter-spacing: .2rem;
        z-index: 1;
        span{
            font-size: 3rem;
        }
        &-red{
            color: $red;
        }
    }
}
.recruitment{
    background-color: #FBF9F3;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 20px;
    margin-right: 20px;
    &-inner{
        width: 90%;
        max-width: 100rem;
        margin: 0 auto;
    }
    &-ttl{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4rem;
        letter-spacing: .3rem;
        margin-bottom: 3.15rem;
        &::before{
            content: "";
            display: block;
            margin-right: 2.35em;
            flex: 1;
            height: 1px;
            background-color: $red;
        }
        &::after{
            content: "";
            display: block;
            margin-left: 2.35em;
            flex: 1;
            height: 1px;
            background-color: $red;
        }
    }
    &-list{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1.15rem;
        &-btn{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            aspect-ratio: 780 / 299;
            overflow: hidden;
            z-index: 1;
            cursor: pointer;
            &:hover{
                color: #fff;
                &::before{
                    border-color: #fff;
                    transition: .5s;
                }
                h3{
                    border-color: #fff;
                    transition: .5s;
                }
                p{
                    transition: .5s;
                }
                img{
                    opacity: 1;
                    transition: .3s;
                }
            }
            img{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                opacity: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &-inner{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
            h3{
                display: block;
                font-size: 2.15rem;
                line-height: 1.2;
                letter-spacing: .05em;
                border-bottom: #000 .1875rem solid;
                margin-bottom: .25em;
                z-index: 1;
            }
            p{
                position: relative;
                display: block;
                font-size: .85rem;
                font-weight: 600;
                line-height: 1.2;
                text-align: center;
            }
        }
    }
}
.ng{
    background-color: #ffedef;
    &::before{
        content: "";
        position: absolute;
        border: $red 1px solid;
        top: 0.4rem;
        bottom: 0.4rem;
        left: 0.4rem;
        right: 0.4rem;
        z-index: 1;
    }
}
.mc{
    background-color: #e3f2ff;
    &::before{
        content: "";
        position: absolute;
        border: #0039a4 1px solid;
        top: 0.4rem;
        bottom: 0.4rem;
        left: 0.4rem;
        right: 0.4rem;
        z-index: 1;
    }
}
.entry{
    position: relative;
    background-color: #FBF9F3;
    margin: 0 20px;
    padding-bottom: 4rem;
    &-loop{
        &-wrap{
            position: relative;
            display: flex;
            overflow: hidden;
            margin-bottom: -8.3rem;
            ul{
                display: flex;
                padding: 0;
                li{
                    width: calc(450vw / 4);
                    margin-left: 1.5rem;
                    img{
                        width: 100%;
                    }
                }
            }
            ul:first-of-type{
                animation: scroll-left1 96s -48s linear infinite;
            }
            ul:last-of-type{
                animation: scroll-left2 96s linear infinite;
            }
        }
    }
    &-ttl{
        position: relative;
        text-align: center;
        font-size: 1.7rem;
        font-weight: 600;
        letter-spacing: .2rem;
        margin-bottom: 3rem;
        z-index: 1;
        &-mid{
            font-size: 2.15rem;
        }
        &-big{
            font-size: 2.85rem;
        }
        &-red{
            font-size: 3.6rem;
            color: $red;
        }
    }
    &-recruit{
        width: 90%;
        margin: 0 auto;
        &-grid{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 1.1rem;
            li{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: #fff;
                    height: 8.5rem;
                    margin: 1px;
                    padding: 1em;
                    &:first-of-type{
                        margin-right: 0;
                    }
                }
            }
            h3{
                grid-column: 1 / 3;
                grid-row: 1 / 2;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: .5em 1em;
                font-size: 1.3rem;
                letter-spacing: .2em;
                height: 4.3rem;
                color: #fff;
            }
        }
    }
    &-img{
        position: absolute;
        bottom: -4rem;
        margin: auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 93.75rem;
        max-width: 100%;
        height: auto;
        vertical-align: middle;
    }
}
.new-entry{
    background-color: $red;
    a{
        flex-direction: column;
        &:hover{
            background-color: #F7C3C8;
            transition: .3s;
        }
        &:first-of-type{
            img{
                width: 5.65rem;
                max-width: 100%;
                height: auto;
                vertical-align: bottom;
                }
        }
        &:nth-of-type(2){
            img{
                width: 7.15rem;
                max-width: 100%;
                height: auto;
                vertical-align: bottom;
            }
        }
    }
}
.mid-entry{
    background-color: #0139A4;
    a{
        font-weight: 500;
        &:first-of-type{
            text-align: left;
            line-height: 1.4;
            padding: 0 auto;
        }
        &:nth-of-type(2){
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.15rem;
            p{
                display: flex;
                flex-direction: column;
                letter-spacing: .05em;
            }
        }
        &:hover{
            background-color: #B6C4E5;
            transition: .3s;
        }
        span{
            font-size: .9rem;
        }
    }
}
.second{
    padding-bottom: 4rem;
}
.footer{
    padding-top: 2.85rem;
    padding-bottom: 3.85rem;
    border: #000 3px solid;
    &-info{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 0 20px;
        text-align-last: left;
        img{
            max-width: 100%;
            width: 15rem;
            height: auto;
            margin-left: -.5rem;
            margin-bottom: .5rem;
        }
        small{
            display: block;
            font-size: .9rem;
        }
    }
    &-nav{
        text-align: center;
        font-size: .8rem;
        margin-top: 2rem;
        a{
            border-bottom: #000 .5px solid;
            transition: .3s;
            &:hover{
                color: $red;
                border-color: $red;
            }
        }
        ul{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 1rem 0 3rem;
            li{
                padding-left: 1rem;
                &:first-child{
                    padding-left: 0;
                }
            }
        }
    }
    &-topbtn{
        display: none;
    }
}
@media screen and (min-width:768px) {
    html{
        overflow-y: auto;
        overflow-x: auto;
        min-width: 1080px;
        background-size: 1080px;
    }
    .sp-br{
        display: none;
    }
    .pc-br{
        display: block;
    }
    .top{
        &-loop{
            height: 12px;
        }
        &-logo{
            top: 2rem;
            left: 2rem;
        }
    }
    .burgerbtn{
        width: 40px;
        height: 40px;
        border-radius: 4px;
        &-line{
            left: 10px;
            height: 1px;
            &:nth-child(1){
                top: 27px;
            }
            &:nth-child(2){
                top: 20px;
            }
            &:nth-child(3){
                top: 13px;
            }
            &.open{
                &:nth-child(1){
                    transform: translateY(-6px) rotate(45deg);
                }
                &:nth-child(3){
                    transform: translateY(6px) rotate(-45deg);
                }
            }
        }
    }
    .bg{
        &-r{
            padding-top: 12px;
        }
        &-w{
            margin: 0 12px;
        }
    }
    .header{
        &-nav{
            border-width: 12px;
            &-list{
                &-item{
                    width: 100%;
                    a{
                        font-size: 1.4rem;
                        &::after{
                          right: 8rem;  
                        }
                        br{
                            display: none;
                        }
                    }
                }
            }
            &-entry-item{
                font-size: 1.6rem;
            }
            p{
                font-size: 1.4rem;
            }
        }
    }
    .entry-btn{
        &-link{
            height: 15px;
            background-color: $red;
            color: $red;
            pointer-events: none;
        }
    }
    .fv{
        height: 53.125rem;
        width: auto;
        left: auto;
        transform: none;
        &-sub{
            left: 88rem;
            top: 10rem;
            opacity: 1;
            transform: none;
        }
        &-news{
            display: grid;
            grid-template-columns: 7.5rem auto;
            width: 45rem;
            height: 4rem;
            margin-left: 6.5rem;
            font-size: max(12px, 0.875rem);
            &-ttl{
                position: static;
                font-size: 1.125rem;
                a{
                    padding: 0;
                }
            }
            &-info{
                width: 35rem;
                height: 4rem;
                padding-left: 0;
            }
            &-list{
                &-item{
                    a{
                        font-size: 1.2rem;
                    }
                }
            }
        }
    }
    .c svg{
        width: 16rem;
        left: 10rem;
        top: 8.9375rem;
    }
    .o svg{
        width: 16rem;
        left: 25rem;
        top: 15.5rem;
    }
    .m svg{
        width: 15.3rem;
        left: 42rem;
        top: 9.75rem;
        z-index: -2;
    }
    .p svg{
        width: 16rem;
        left: 47.1875rem;
        top: 32.25rem;
    }
    .a svg{
        width: 16rem;
        left: 63.125rem;
        top: 38.5rem;
    }
    .n svg{
        width: 12rem;
        left: 81rem;
        top: 33.5rem;
    }
    .y svg{
        width: 16rem;
        left: 92.875rem;
        top: 27.5rem;
    }
    .person{
        &1{
            width: 11.6875rem;
            left: 6.25rem;
            top: 17.4375rem;
            z-index: 1;
        }
        &2{
            display: block;
            width: 8.25rem;
            left: 20.375rem;
            top: 29.8125rem;
        }
        &3{
            width: 15.6875rem;
            left: 32.5rem;
            top: 17.5rem;
            z-index: -1;
        }
        &4{
            width: 8.5625rem;
            left: 52.125rem;
            top: 21.5rem;
        }
        &5{
            width: 21.0625rem;
            left: 76.8rem;
            top: 1.45rem;
            
        }
        &6{
            width: 13rem;
            left: 64.5625rem;
            top: 17.3125rem;
        }
    }
    .plant{
        width: 7.9375rem;
        top: 13.25rem;
        left: 17.5rem;
    }
    .about{
        padding-top: 9.375rem;
        padding-bottom: 11.5rem;
        background-repeat: no-repeat, repeat;
        background-position: left bottom, center;
        background-size: 72.5625rem, auto;
        &-ttl{
            max-width: none;
            width: none;
            margin-left: 7.5rem;
            font-size: 3rem;
            position: relative;
            line-height: 1;
            z-index: 1;
            &-wrapper{
            }
            p{
                margin-top: -1rem;
                border-width: 2px;
                span{
                    font-size: 5.5rem;
                }
            }
            &-mid{
                font-size: 4.5rem !important;
            }
            &-big{
                display: block;
                font-size: 7rem !important;
                z-index: 1;
                letter-spacing: .1em !important;
            }
        }
        &-sub{
            margin-left: -6rem;
            margin-top: 2.5rem;
            position: relative;
            z-index: 1;
            p{
                font-size: 1.5rem;
                border-width: 1px;
            }
        }
        &-img{
            width: 56.25rem;
            bottom: -4.125rem;
            left: 0;
            transform: translateX(0);
        }
        &-circle{
            display: block;
            position: absolute;
            top: -7rem;
            right: 4rem;
            bottom: 0;
            overflow: hidden;
            svg{
                width: 57.625rem;
                animation: rotate 40s linear infinite;
            }
        }
        &-pen{
            display: block;
            position: absolute;
            width: 29.25rem;
            top: -8rem;
            right: -2rem;
            z-index: 1;
        }
        &-txt{
            &-pc{
                position: absolute;
                display: flex;
                font-family: "Grey Qo", cursive;
                font-size: 5rem;
                color: $red;
                align-items: center;
                justify-content: flex-end;
                left: 70rem;
                top: 22rem;
                font-weight: 200;
                &::after{
                    content: "";
                    width: 15rem;
                    height: 1px;
                    background-color: $red;
                    margin-left: 1rem;
                    margin-top: 12px;
                }
            }
            &-main{
                font-size: 1.5rem;
                letter-spacing: .005em;
                margin-left: 50%;
                writing-mode: vertical-rl;
                p{
                    line-height: 2.2;
                    margin-left: 1em;
                }
            }
        }
    }
    .person{
        position: relative;
        padding-top: 3.125rem;
        padding-bottom: 3.125rem;
        &-wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 90rem;
            width: 90%;
            margin: 0 auto;
            padding: 0;
        }
        &-border{
            position: relative;
            top: 20.9rem;
        }
        &-ttl{
            &-small{
                font-size: 2.5rem;
                margin-right: 1rem;
            }
            &-big{
                font-size: 9.5rem;
                letter-spacing: .2em;
            }
        }
        &-txt{
            margin-right: -5em;
            letter-spacing: .2em;
            text-align: justify;
            font-size: 1.4rem;
        }
    }
    .staff{
        max-width: none;
        padding-top: 6.625rem;
        padding-bottom: 6.625rem;
        &-swiper{
            width: 100%;
        }
        &-list-btn{
            margin-top: 5rem;
            width: 15%;
            &-link{
                font-size: 1.5rem;
                padding: 1.5rem;
            }
        }
        &-border{
            bottom: 9.15rem;
        }
    }
    .second{
        padding-top: 2.8rem;
        padding-bottom: 12.625rem;
    }
    .future{
        height: 48rem;
        display: flex;
        justify-content: center;
        align-items: center;
        &-inner{
            aspect-ratio: auto;
        }
        &-logo{
            height: 5rem;
            padding-top: 1rem;
        }
        &-ttl{
            font-size: 3rem;
            span{
                font-size: 5.5rem;
                &:not(:last-child){
                    padding-right: .1em;
                }
            }
        }
    }
    .recruitment{
        padding-top: 9.25rem;
        padding-bottom: 9.25rem;
        margin-left: 12px;
        margin-right: 12px;
        &-ttl{
            font-size: 2.5rem;
            margin-bottom: 5.5rem;
        }
        &-list{
            grid-template-columns: repeat(2, 1fr);
            gap: 2.5rem;
        }
    }
    .entry{
        margin-left: 12px;
        margin-right: 12px;
        padding-bottom: 10.25rem;
        &-loop{
            &-wrap{
                margin-bottom: -15rem;
                ul{
                    li{
                        width: 60rem;
                        margin-left: 6rem;
                    }
                }
            }
        }
        &-ttl{
            font-size: 3.125rem;
            margin-bottom: 5rem;
            &-mid{
                font-size: 3.75rem;
            }
            &-big{
                font-size: 5rem;
            }
            &-red{
                font-size: 6.25rem;
            }
        }
        &-recruit{
            position: relative;
            &-grid{
                grid-template-columns: repeat(2, 1fr);
                gap: 2.5rem;
                z-index: 1;
                li{
                    h3{
                        height: 7.5rem;
                        padding: .5em 1em;
                        font-size: 2.5rem;
                    }
                    a{
                        height: 11.25rem;
                    }
                }
            }
        }
        &-img{
            bottom: -12.625rem;
        }
    }
    .new-entry{
        a:first-of-type{
            img{
                width: 9.875rem;
            }
        }
        a:nth-of-type(2){
            img{
                width: 12.5rem;
            }
        }
    }
    .mid-entry{
        a{
            &:first-of-type{
                font-size: 1.6rem;
            }
            &:nth-of-type(2){
                font-size: 1.6rem;

            }
            span{
                font-size: 1.4rem;
            }
        }
    }
    .footer{
        position: relative;
        z-index: 100001;
        padding: 0;
        margin: 0 auto;
        background-color: #fff;
        &-wrapper{
            display: flex;
            width: 85%;
        }
        &-info{
            padding: 40px 0 40px 40px;
            img{
                width: 15rem;
                margin-bottom: 3rem;
            }
            small{
                font-size: 1.5rem;
            }
        }
        &-nav{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52.2%;
            font-size: 1.5rem;
            margin: auto;
            ul{
                margin: 0;
                li{
                    padding-left: 2em !important
                }
            }
        }
        &-topbtn{
            position: absolute;
            right: 0;
            bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font-size: 1rem;
            width: 15%;
            height: 100%;
            color: #fff;
            background-color: #000;
            transition: .3s;
            &:hover{
                background-color: #272727;
            }
            span{
                font-style: italic;
                font-size: 3rem;
                font-weight: 200;
            }
        }
    }
}
@media screen and (min-width:1080px) {
    html{
        font-size: max(9px, min(0.8333333333vw, 1rem));
        height: 100%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    body{
        font-size: max(14.1666666667px, min(0.8333333333vw, 1rem));
    }
    .top{
        &-loop{
            position: fixed;
            display: flex;
            align-items: center;
            white-space: nowrap;
            height: 3.125rem;
            &-wrapper{
                position: relative;
                display: flex;
                align-items: center;
                overflow: hidden;
                ul{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    li{
                        display: flex;
                        justify-content: center;
                        font-size: 1rem;
                        letter-spacing: .5rem;
                        color: #fff;
                        padding: .5rem;
                        font-weight: 200;
                        span{
                            padding-right: .5rem;
                            font-weight: 600;
                        }
                    }
                }
                ul:first-of-type{
                    animation: scroll-left1 96s -48s linear infinite;
                }
                ul:last-of-type{
                    animation: scroll-left2 96s linear infinite;
                }
            }
        }
        &-logo{
            top: 4rem;
            left: 6rem;
            a{
                flex-direction: row;
                align-items: center;
                img{
                    width: 13rem;
                    margin-top: .8rem;
                }
                span{
                    font-size: 1rem;
                }
            }   
        }
    }
    .bg{
        &-r{
            padding-top: 3.125rem;
        }
        &-w{
            margin: 0 3.125rem;
        }
    }
    .header{
        &-nav{
            position: fixed;
            bottom: 17.25rem;
            top: auto;
            left: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            opacity: 1;
            width: fit-content;
            min-width: min(8.75rem, 100%);
            height: auto;
            font-size: max(12px, 0.875rem);
            padding: 0;
            border: #000 2px solid;
            background-color: #fff;
            &-list{
                display: flex;
                justify-content: center;
                align-items: center;
                text-align: center;
                flex-direction: column;
                padding: 1.5rem 0;
                &-item{
                    border: none;
                    width: 100%;
                    text-align: center;
                    text-decoration: underline;
                    &:first-child{
                        color: $red;
                    }
                    a{
                        padding: .75rem 1.5rem;
                        margin: 0;
                        font-size: 1.2rem;
                        &::after{
                            content: none;
                        }
                        &:hover{
                            color: $red;
                            background: none;
                        }
                        br{
                            display: block;
                        }
                    } 
                }
            }
            &-entry{
                margin-bottom: -1px;
                width: 100%;
                &-item{
                    a{
                        height: 5rem;
                        font-size: 1.2rem;
                    }
                }
            }
            &-deco{
                position: absolute;
                top: -4rem;
                left: -1.75rem;
                display: flex;
                justify-content: center;
                align-items: center;
                background-image: url(../images/navi-deco.svg.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width: 6rem;
                height: 5rem;
                font-weight: 600;
            }
            p{
                margin: 0;
                font-size: 1rem;
            } 
        }
    }
    .copy{
            display: flex;
            position: fixed;
            width: 3.125rem;
            left: 0;
            top: 50%;
            justify-content: center;
            align-items: center;
            writing-mode: vertical-lr;                font-weight: 500;
            color: #fff;
        }
    .burgerbtn{
        display: none;
    }
    .midsize{
        opacity: 1;
        pointer-events: all;
    }
    .entry-btn-link{
        height: 3.125rem;
    }
    .fv{
        &-sub{
            font-size: 1.5rem;
            color: #000;
            span:nth-child(2){
                font-size: 3rem;
            }
        }
       
    }
    .about{
        &-circle{
            top: auto;
            bottom: auto;
            right: 0;
        }
        &-txt{
            width: 57.625rem;
            aspect-ratio: 1 / 1 ;
            margin-top: -14.8125rem;
            margin-left: auto;
            margin-right: 1rem;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            &-pc{
                position: relative;
                align-items: center;
                width: 100%;
                max-width: 31.6875rem;
                margin: 0 auto;
                left: auto;
                top: auto;
            }
            &-main{
                margin: 0;
                line-height: 2.2;
            }
        }
    }
    .recruitment{
        margin: 0 3.125rem;
    }
    .entry{
        margin: 0 3.125rem;
    }
    .new-entry{
        a{
            img{
                max-width: 100%;
            }
        }
        a:first-of-type{
            img{
                width: auto;
            }
        }
        a:nth-of-type(2){
            img{
                width: auto;
            }
        }
    }
}
@media screen and (min-width:2000px){
    .fv{
        width: 112.6875rem;
        margin: 0 auto;

    }
}